:root {
    --background: #fff;
    --text: #000;
    --state-background: #e0e0e0;
    --theme: #4caf50;
    --theme-text: #fff;
    --theme-text-inactive: rgba(255, 255, 255, .5);
    --theme-dark: #2e7d32;
}

html, body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overscroll-behavior: contain;
}

body.nightmode {
    --background: #000;
    --text: #999;
    --state-background: #222;
    --theme: #2e7d32;
    --theme-text: rgba(255, 255, 255, .7);
    --theme-text-inactive: rgba(255, 255, 255, .3);
    --theme-dark: #4caf50;
}

body,
dialog,
input,
select {
    background: var(--background);
    color: var(--text);
}

nav ul {
    background: var(--theme);
    list-style-type: none;
    margin: 0;
    padding: 0 10pt;
}

nav li {
    display: inline;
    margin-right: 10pt;
}

nav a {
    display: inline-block;
    text-decoration: none;
    color: var(--theme-text-inactive);
    padding: 10pt 0 8pt;
    border-bottom: 2pt solid transparent;
}

nav .restart {
    float: right;
}

nav a.active {
    color:var(--theme-text);;
}

nav a:hover,
nav a.active {
    border-bottom: 2pt solid var(--theme-text);;
}

.content {
    padding: 10pt;
}

h1,
h2,
fieldset,
.state {
    margin: 0 0 10pt;
}

h1,
h2,
legend,
.state {
    font-weight: lighter;
}

.setting > label {
    text-transform: uppercase;
    font-size: .75em;
    color:gray;
}

fieldset {
    border: 1px solid var(--state-background);
}

.state {
    background: var(--state-background);
    padding: 5pt 10pt;
    margin-left: -10pt;
    width:calc(100% + 20pt);
    box-sizing: border-box;
}

.state strong {
    font-weight: normal;
}

.player {
    margin-bottom: 10pt;
}

.player .name::before {
    content: '';
    display:inline-block;
    width:.5em;
    height:.5em;
    border-radius: 50%;
    background-color: var(--state-background);
}

.player .name.active::before {
    background-color: var(--theme);
}

.player .score {
    font-size: 1.3em;
    text-indent: 1em;
}

.setting,
details {
    margin-bottom: 10pt;
}

.setting input:not([type="radio"]),
.setting select {
    width: 100%;
    font-size: 1.1em;
    padding:3pt;
}

.setting input:not([type="radio"]) {
    border:0;
    border-bottom: 1px solid var(--state-background);
}

select {
    border-color: var(--state-background);
}

.setting input:not([type="radio"]):focus {
    outline: none;
    border-bottom: 2px solid var(--theme);
    padding-bottom: calc(3pt - 1px);
}

.setting label + input,
.setting label + select {
    display:block;
}

details {
    aborder:1px solid transparent;
    padding:10pt;
}

details[open] {
    border-color: var(--theme);
    background:var(--state-background);
}

details li {
    margin-bottom: 10pt;
}

dialog .buttons {
    margin-top:10pt;
    padding-top:10pt;
    border-top:1px solid var(--state-background);
}

dialog .closeDialog {
    border-color: transparent;
    background:transparent none;
    -color:#000;
}

a {
    color: var(--theme);
}

button {
    background: var(--theme);
    color: var(--theme-text);
    border:0;
    padding:5pt 10pt;
    border:1px solid var(--theme-dark);
}

button.next {
    margin-bottom: 26pt;
}

.roundscore {
    display: none;
}

#game.active .roundscore {
    display: block;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    padding:3pt 10pt 3pt 0;
    background: var(--theme);
    color: var(--theme-text);
    text-align: right;
    box-sizing: border-box;
}

.win {
    display:block;
    font-size: 2em;
}