<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dartboard</title>
    <link href="base.css?x152d" rel="stylesheet" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.min.js"></script>
    <script>Vue || document.write('<script src="vue.min.js?v2.5.13">\x3C/script>')</script>
    <script src="game.js?0" defer></script>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#4caf50">
    <meta name="msapplication-TileColor" content="#4caf50">
    <meta name="theme-color" content="#4caf50">
</head>
<body>
    <div id="app">

        <div class="top">
            <header>
                <nav>
                    <ul>
                        <li><a href="#" :class="{ active: currentNavTab === 'scoreboard' }" @click="navigate('scoreboard')">Scoreboard</a></li>
                        <li><a href="#" :class="{ active: currentNavTab === 'game' }" @click="navigate('game')">Spiel</a></li>
                        <li><a href="#" :class="{ active: currentNavTab === 'settings' }" @click="navigate('settings')">Einstellungen</a></li>
                        <li class="restart">
                            <a href="#" @click="initGame" v-show="!inProgress">Start</a>
                            <a href="#" @click="restartGame" v-show="inProgress">Neustart</a>
                        </li>
                    </ul>
                </nav>
            </header>
        </div>

        <div class="content">
            <div id="scoreboard" v-show="currentNavTab === 'scoreboard' && inProgress">
                <h1>Scoreboard</h1>
                <div class="state">
                    Punkte: <strong>{{ settings.points }}</strong><br/>
                    Runde: <strong>{{ score.round }}</strong>
                </div>

                <div class="player" v-for="(player, index) in settings.players">
                    <div class="name" :class="{ active: score.currentPlayerId === index }">
                        {{ player || 'Spieler ' + (index + 1) }}
                    </div>
                    <div class="score">
                        {{ score.players[index] }}
                    </div>
                </div>
            </div>

            <div id="game" v-show="currentNavTab === 'game' && inProgress" :class="{ active: currentNavTab === 'game' }">
                <h1>{{ settings.players[score.currentPlayerId] || '?' }} ({{ score.players[score.currentPlayerId] || settings.points }})</h1>
                <div class="state">
                    Punkte: <strong>{{ settings.points }}</strong><br/>
                    Runde: <strong>{{ score.round }}</strong>
                </div>

                <fieldset v-for="n in settings.throws">
                    <legend>Wurf {{ n }} (Score: <span :id="`throw${n}-score`" data-throwscore>0</span>)</legend>
                    
                    <div class="setting">
                        <label :for="`throw${n}-points`">Punkte (<span :id="`throw${n}-points-value`">0</span>)</label>
                        <input :id="`throw${n}-points`" :data-throw="n" type="range" min="0" max="50" value="0" list="scoremarks"/>
                    </div>
                    <div class="setting">
                        <label>Multiplikator</label>
                        <div>
                            <input type="radio" :data-throw="n" :name="`throw${n}-multiplier`" value="1" checked/> <em>kein Multiplikator</em>
                        </div>
                        <div>
                            <input type="radio" :data-throw="n" :name="`throw${n}-multiplier`" value="2"/> 2
                        </div>
                        <div>
                            <input type="radio" :data-throw="n" :name="`throw${n}-multiplier`" value="3"/> 3
                        </div>                    
                    </div>
                </fieldset>

                <button @click="next" class="next">Weiter...</button>

                <div class="roundscore">
                    Punkte in dieser Runde:
                    <span id="roundscore-value">0</span>
                </div>
            </div>

            <div id="settings" v-show="currentNavTab === 'settings'">
                <h1>Einstellungen</h1>

                <fieldset>
                    <legend>Spieleinstellungen</legend>
                    <div class="setting">
                        <label for="points">Punkte</label>
                        <input id="points" type="number" v-model="settings.points"/>
                    </div>
    
                    <div class="setting" v-for="(player, index) in settings.players">
                        <label :for="`player-${index}`">Spieler {{ index + 1 }}</label>
                        <input :id="`player-${index}`" type="text" v-model="settings.players[index]"/>
                    </div>
                </fieldset>
                
                <fieldset>
                    <legend>Benutzereinstellungen</legend>
                    <div class="settings">
                        <input id="nightmode" type="checkbox" v-model="settings.nightmode" @change="toggleNightmode"/>
                        <label for="nightmode">Nachtmodus</label>
                    </div>
                </fieldset>

                <details>
                    <summary>Regeln</summary>
                    <ol>
                        <li>Jeder Spieler bzw. jede Mannschaft beginnt mit 301 oder 501 Punkten. Von dieser Punktzahl werden die jeweils geworfenen Punkte abgezogen.</li>
                        <li>Sieger ist, wer zuerst genau Null erreicht.</li>
                        <li>Der erste Wurf muss ein Treffer im Doppelring sein. Es kann daher zuerst nur ein u Doppel" von 301 abgezogen werden.</li>
                        <li>Sofern man auf die Bestimmung der Regel Nr. 3 verzichtet, spielt man das TurnierDartspiel mit dem 11 Sofort-Start", d.h. alle Darts zählen von Anfang an. Auf die folgende Regel Nr. 5 darf jedoch nie verzichtet werden.</li>
                        <li>Das Spiel kann nur beendet werden, wenn ein Feld im Doppelring oder der Mittelpunkt getroffen wird. Mit der getroffenen Doppelziffer oder mit der Ziffer 50 muss exakt die Null erreicht werden.</li>
                        <li>Der Treffer im Mittelpunkt gilt 2 x 25 = 50.</li>
                        <li>Wird in der Endphase eine grossere Punktzahl geworfen als nötig, um Null zu erreichen, so ist die geworfene Punktzahl ungültig. Der Spieler setzt das Spiel fort, wenn er wieder an der Reihe ist und zwar von der Punktzahl, die er vor dem ungültigen Wurf erreicht hatte.</li>
                        <li>Jedes Spiel besteht aus 3 Runden. Wer zuerst 2· Runden gewonnen hat, ist Sieger.</li>
                        <li>Zwei Einzelspieler beginnen gewöhnlich mit der Punktzahl von 301. Bei Mannschaftsspielen empfiehlt es sich, den Spielbeginn -je nach Grösse der Mannschaft- auf 501 bzw. 1.001 Punkte festzulegen.</li>
                    </ol>
                    <a href="rules.pdf" target="_blank" rel="noopener">Regeln als PDF herunterladen</a>
                </details>

                <button @click="initGame" v-show="!inProgress">Start</button>
                <button @click="restartGame" v-show="inProgress">Neustart</button>
            </div>
        </div>

        <dialog id="playerpick">
            <h1>Wer beginnt?</h1>

            <div class="setting">
                <label for="pick">Beginnender Spieler:</label>
                <select id="pick" v-model="settings.startingPlayerId">
                    <option v-for="(player, index) in settings.players" :value="index">{{ player }}</option>
                </select>
            </div>

            <div class="buttons">
                <button @click="startGame" v-show="settings.startingPlayerId !== undefined">Los!</button>
            </div>
        </dialog>

        <dialog id="winner">
            <h1>Gewonnen</h1>

            <div class="setting">
                <span class="win">Glückwunsch {{ settings.players[score.winnerId] }}!</span>
                Du hast gewonnen.
                <span class="win">&#x1F389; &#x1F388; &#x1F603;</span>
            </div>

            <div class="buttons">
                <button @click="closeModel('winner')">Okay</button>
            </div>
        </dialog>

        <dialog id="toomuch">
            <h1>Ziel überschritten</h1>

            <div class="setting">
                Das Punkteziel wurde überschritten!<br/>
                Die Punkte werden auf den vorherigen Stand zurückgesetzt.
            </div>

            <div class="buttons">
                <button @click="closeModel('toomuch')">Okay</button>
            </div>
        </dialog>

        <dialog id="restartquestion">
            <h1>Wirklich neustarten?</h1>

            <div class="setting">
                Bei einem Neustart gehen alle Spielfortschritte verloren. Trotzdem neustarten?
            </div>

            <div class="buttons">
                <button @click="restartGameYes">Ja, neustarten!</button>
                <button @click="closeModel('restartquestion')">Nein, weiter spielen!</button>
            </div>
        </dialog>

        <datalist id="scoremarks">
            <option value="0"></option>
            <option v-for="n in 20" :value="n"></option>
            <option value="25"></option>
            <option value="50"></option>
          </datalist>
    </div>
</body>
</html>